*
	{
		margin: 0;
		padding: 0;
	}

@font-face 
		{
	  		font-family: 'Permanent Marker', cursive;
	  		src: url("../font/PermanentMarker-Regular.ttf");
		}

body
	{
		background-color: #EDC10D;
	}

h2, p
	{
		text-align: center;
	}

section
	{
		width: 60%;
		margin: 2% 13% 0 27%;
	}

article
	{
		float: left;
		max-width: 200px;
		margin: 0 1% 0.5% 0;	 
		display: inline-block;
		background-color: rgba(255,255,255,0.4);
		max-height: 200px;
		font-family: 'Permanent Marker', cursive;
		border-radius: 20px;
		border-color: white;
	}

article:hover
	{
		background-color: rgba(255,255,255,0.7);
	}

article p
	{
		text-align: center;
		width: 200px;
		height: 170px;
		padding: 30px 0 0 0;
		display: inline-block;
		font-size: 8vw;

	}

p.O
	{
		color: red;
		 
	}

p.X
	{
		color: green;
	}	

/*------------ CONTENEDOR DE MENSAJE ------------*/

.contenedor
	{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	/*display: none;*/
	}

.contenedor h2
	{
		 font-size: 6.5vw;
		 padding: 10% 0 5% 0;
		 font-family: 'Permanent Marker', cursive;
		 color: white;
	}

.contenedor input
	{
		font-size: 3vw;
		width: 30%;
		margin: 0% 35%;
		padding: 2%;
		font-family: 'Permanent Marker', cursive;
		border-radius: 20px;
		background-color: rgba(0,255,0,0.5);
		color: white;
		border:none;
	    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	}

.contenedor input:hover
	{
		background-color: rgba(32,124,17,1);
	}

@media screen and (max-width:1030px)
	{
		article
			{
				max-width: 175px;
				max-height: 175px;
			}

		article p
			{
				width: 175px;
			}

		section
			{
				width: 70%;
				margin: 8% 15% 0 20%;
			}

		.contenedor h2
			{
				padding: 20% 0 5% 0;
			}
		
	}

@media screen and (max-width:890px)
	{
		article
			{
				max-width: 150px;
				max-height: 150px;
			}

		article p
			{
				width: 150px;
			}

		section
			{
				margin: 12% 20% 0 20%;
			}

		.contenedor h2
			{
				padding: 25% 0 5% 0;
			}
		
	}

@media screen and (max-width:775px)
	{
		article
			{
				max-width: 150px;
				max-height: 150px;
			}

		article p
			{
				width: 150px;
			}

		section
			{
				width: 80%;
				margin: 16% 18% 0 18%;
			}

		.contenedor h2
			{
				padding: 32% 0 5% 0;
			}
		
	}


@media screen and (max-width:625px)
	{
		article
			{
				max-width: 120px;
				max-height: 120px;
			}

		article p
			{
				width: 120px;
			}

		section
			{
				margin: 25% 18% 0 18%;
			}

		.contenedor h2
			{
				padding: 40% 0 5% 0;
			}
		
	}

@media screen and (max-width:480px)
	{
		article
			{
				max-width: 100px;
				max-height: 100px;
			}

		article p
			{
				width: 100px;
			}

		section
			{
				width: 80%;
				margin: 35% 10% 0 18%;
			}

		.contenedor h2
			{
				padding: 50% 0 5% 0;
			}
	}  