*
	{
		margin: 0;
		padding: 0;
	}

body
	{
		background-color: black;
		height: 100%;
	}

section
	{
		width: 48%;
		height: 48%;
		padding: 1%;
		display: inline-block;
	}

article#bot1
	{
		float: right;
		width: 300px; 
     	height: 300px;  
     	background: rgba(255, 0, 0, 0.3);
     	-moz-border-radius: 100% 0 0 0;
     	-webkit-border-radius: 100% 0 0 0;
     	border-radius: 100% 0 0 0;
	}

article#bot2
	{
		width: 300px; 
     	height: 300px;  
     	background: rgba(0, 0, 255, 0.3);
     	-moz-border-radius: 0 100% 0 0;
     	-webkit-border-radius: 0 100% 0 0;
     	border-radius: 0 100% 0 0;
	}

article#bot3
	{
		float: right;
		width: 300px; 
     	height: 300px;  
     	background: rgba(255, 255, 0, 0.3);
     	-moz-border-radius: 0 0 0 100%;
     	-webkit-border-radius: 0 0 0 100%;
     	border-radius: 0 0 0 100%;
	}

article#bot4
	{
		width: 300px; 
     	height: 300px;  
     	background: rgba(0, 255, 0, 0.3);
     	-moz-border-radius: 0 0 100% 0;
     	-webkit-border-radius: 0 0 100% 0;
     	border-radius: 0 0 100% 0;
	}

/* --------------- CONTENEDOR MENSAJE */

.contenedor
	{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding:130px 10%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	font-family: 'Helvetica', bold;
	}

.contenedor h2
	{
		 font-size: 80px;
		 width: 80%;
		 color: white;

	}

.contenedor p
	{
		color: white;
		display: inline-block;
		width: 80%;
		text-align: center;
	}

.contenedor p a
	{
		color: white;
		font-weight: bold;
	}

.contenedor p a:hover
	{
		color:yellow;
	}

.contenedor input
	{
		font-size: 50px;
		width: 30%;
		float: left;
		margin: 3% 25%;
		padding: 2%;
		border-radius: 20px;
		background-color: rgba(0,255,0,0.3);
		color: white;
		border:none;
	    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	}

.contenedor input:hover
	{
		background-color: rgba(32,124,17,1);
	}


@media screen and (max-width:620px)
	{
		article#bot1, article#bot2, article#bot3, article#bot4
			{
				width: 220px; 
     			height: 220px;
			}

		body
			{
				padding: 100px 0;
			}
	}